[submodule "Zmakan-Technical-Solutions/zts_automatic_barcode"]
	path = Zmakan-Technical-Solutions/zts_automatic_barcode
	url = git@github.com:Zmakan-Technical-Solutions/zts_automatic_barcode.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_ri_custom"]
	path = Zmakan-Technical-Solutions/zts_ri_custom
	url = git@github.com:Zmakan-Technical-Solutions/zts_ri_custom.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/l10n_qa_hr_payroll"]
	path = Zmakan-Technical-Solutions/l10n_qa_hr_payroll
	url = git@github.com:Zmakan-Technical-Solutions/l10n_qa_hr_payroll.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_loan"]
	path = Zmakan-Technical-Solutions/zts_loan
	url = git@github.com:Zmakan-Technical-Solutions/zts_loan.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_salary_advance"]
	path = Zmakan-Technical-Solutions/zts_salary_advance
	url = git@github.com:Zmakan-Technical-Solutions/zts_salary_advance.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_hr_eos"]
	path = Zmakan-Technical-Solutions/zts_hr_eos
	url = git@github.com:Zmakan-Technical-Solutions/zts_hr_eos.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_wps_sif"]
	path = Zmakan-Technical-Solutions/zts_wps_sif
	url = git@github.com:Zmakan-Technical-Solutions/zts_wps_sif.git
	branch = 13.0
