[submodule "Zmakan-Technical-Solutions/zts_automatic_barcode"]
	path = Zmakan-Technical-Solutions/zts_automatic_barcode
	url = git@github.com:Zmakan-Technical-Solutions/zts_automatic_barcode.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_ri_custom"]
	path = Zmakan-Technical-Solutions/zts_ri_custom
	url = git@github.com:Zmakan-Technical-Solutions/zts_ri_custom.git
	branch = 13.0

[submodule "Zmakan-Technical-Solutions/zts_so_quotation_image"]
	path = Zmakan-Technical-Solutions/zts_so_quotation_image
	url = git@github.com:Zmakan-Technical-Solutions/zts_so_quotation_image.git


[submodule "Zmakan-Technical-Solutions/zts_salesteam_inv_sequence"]
	path = Zmakan-Technical-Solutions/zts_salesteam_inv_sequence
	url = git@github.com:Zmakan-Technical-Solutions/zts_salesteam_inv_sequence.git

[submodule "Zmakan-Technical-Solutions/zts_product_report_image"]
	path = Zmakan-Technical-Solutions/zts_product_report_image
	url = git@github.com:Zmakan-Technical-Solutions/zts_product_report_image.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/l10n_qa_hr_contract"]
	path = Zmakan-Technical-Solutions/l10n_qa_hr_contract
	url = git@github.com:Zmakan-Technical-Solutions/l10n_qa_hr_contract.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/l10n_qa_hr_payroll"]
	path = Zmakan-Technical-Solutions/l10n_qa_hr_payroll
	url = git@github.com:Zmakan-Technical-Solutions/l10n_qa_hr_payroll.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_loan"]
	path = Zmakan-Technical-Solutions/zts_loan
	url = git@github.com:Zmakan-Technical-Solutions/zts_loan.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_salary_advance"]
	path = Zmakan-Technical-Solutions/zts_salary_advance
	url = git@github.com:Zmakan-Technical-Solutions/zts_salary_advance.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_hr_eos"]
	path = Zmakan-Technical-Solutions/zts_hr_eos
	url = git@github.com:Zmakan-Technical-Solutions/zts_hr_eos.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_wps_sif"]
	path = Zmakan-Technical-Solutions/zts_wps_sif
	url = git@github.com:Zmakan-Technical-Solutions/zts_wps_sif.git
	branch = 13.0
[submodule "Zmakan-Technical-Solutions/zts_attendance_sheet"]
	path = Zmakan-Technical-Solutions/zts_attendance_sheet
	url = git@github.com:Zmakan-Technical-Solutions/zts_attendance_sheet.git
	branch = 13.0
